* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}
/* header */

#header{
    height: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;

}
#header img{
    width: 100%;
    height: 1200px;
    position: relative;
}
.header-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.header-top .logo{
    position: absolute;
    top: 5px;
    left: 80px;
    font-size: 30px;
    margin-top: 10px;
}
.header-top .nav-top{
    display: flex;
    position: absolute;
    top: 50px;
    right: 50px;
    justify-content:center;
    gap: 15px;
    align-items: center;
    width: 45%;

}
.header-top a{
    text-decoration: none;
    font-size:30px; 
    color: white;
    padding: 0 10px;
    cursor: pointer;
     
}
.header-top a ul{
    list-style: none;
    position: absolute;
    background: black;
    padding: 20px 0;
    width: 100%;
    left: 0;
    margin: 0;
    top: 100%;
    line-height: 60px;
    display: none;
    color: white;
}
.header-top a ul li{
    padding: 10px;
}
.header-top a:first-child{
    color: black;
    background-color: white;
    border-radius: 10px;
    padding:20px 10px;
}
.header-top a:nth-child(4){
    position: relative;
}
.header-top a:nth-child(4):hover  ul{
    display: block;
}
.header-top a:nth-child(4) ul li:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
}
.header-top a:not(:first-child):hover{
    color: black;
    background-color: white;
    border-radius: 10px;
    padding:20px 10px;
}
.header-mid{
    width: 90%;
    position:absolute;
    top: 380px;
    left: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-mid h1{
    font-size: 60px;
}
.header-mid p{
    padding: 0 30%;
    font-size: 30px;
}
.header-mid a{
    text-decoration: none;
    color: white;
    border:solid 2px white;
    border-radius: 7px;
    font-size: 30px;
    padding: 10px 5px;
    margin: 40px 0;
}
.header-bottom{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 950px;
    left: -10px;
}
.header-bottom a{
    width: 5px;
    height: 5px;
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    margin: 90px 10px;
}

/* welcome */

#welcome{
    text-align: center;
}
#welcome h2{
    font-size: 60px;
}
#welcome p{
    text-align: center;
    justify-content: center;
    width: 80vw;
    padding-left: 320px;
    color: #999;
    font-size: 25px;
}
#welcome img{
    width: 80%;
    padding-top: 5px;
}

/* What-we-do */

#What-we-do{
    text-align: center;
    
}
.to-me{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 10%;
    padding-top: 5%;
}
.to-me img{
    border-radius: 50%;

}
.save{
    width: 20vw;
    height: 45%;
    padding: 20px;
}
.save p{
    color: #999;
}
.to-me h4{
    font-size: 30px;
}
#What-we-do h2{
    font-size: 60px;
    padding-top: 5rem;
}

/* Statistics */

.Statistics{
    text-align: center;
    position: relative;
    width: 100%;
    margin: 40px 0;
}
.Statistics-kill{
    width: 100%;
    height: 800px;
}
.Statistics-kill img{
   width: 100%;
   height: 800px;
}
.div-Statistics{
    position:absolute;
    bottom: 60%;
    color: white;
    font-size: 50px;
    left: 35%;
}
.div-tow-Statistics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    bottom: 300px;
    color: white;
}
.div-tow-Statistics h4{
    font-size: 80px;
    margin: 0%;
}
.div-tow-Statistics p{
    font-size: 25px;
}

/* services */
.big{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.left{
    justify-content: center;
    align-items: center;
    width: 30%;
    flex-direction: column;
    margin: 0 100px;
    padding-bottom: 350px;
    margin-top: 70px;
}
.left h1{  
    font-size: 60px;
    left: 0;
}
.left p{
    color: #999;
    font-size: 30px;
    left: 0;
}
.right{
    display: grid;
    grid-template-columns:50%  50% ;
    grid-template-rows:50% 50% ;
    width: 70%;
    height: 100%;
    text-align: center;
    margin: 0 100px;
    gap: 15px;
}
.right div i{
    font-size: 80px;
}

.right div{
    margin: 0;
    gap: 30px;
    text-align: center;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 7px 7px 10px 0 rgb(56 56 56 / 21%) ;

}
.right div h3{
    font-size: 50px;
}
.right div p{
    color: #999;
    font-size: 25px;
}
.right div:hover {
    background-color: yellowgreen;
    transition: 0.9s;
    border-radius: 10px;
}
.right div:hover p{
    color: white;
}
.right div:hover i{
    color: white;
}
.icon{
    font-size: 50px;
}

/* Testimonials */

.big_testimonials{
    text-align: center;
    width: 100%;
    height: 900px;
    margin: 40px 0;
}
.big_testimonials img:first-child{
    width: 100%;
    height: 800px;
    position: relative;
}
.testimonials_layout{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    width: 100%;
    justify-content: center;
    gap: 100px;
    position: relative;
    bottom: 500px;
    color: white;
}
.big_testimonials img:not(:first-child){
    border-radius: 50%;
    width: 35%;
 }
.testimonials_layout h4{
    display: flex;
    color: yellowgreen;
    flex-direction: row-reverse;
}
.big_testimonials h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 700px;
    color: white;
    font-size: 70px;
    margin: 0;
}

/* Our Blog */

.big_OurBlog{
    text-align: center;
    width: 100%;
    height: 800px;
    position: relative;
    bottom: 50px;
}
.OurBlog_one{
    font-size: 50px;
}
.OurBlog_tow{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    margin: 40px 50px;
    justify-content: center;
    position: relative;
    top: 60px;
    gap: 50px;
}

.OurBlog_tow div:first-child div{
    border: solid 1px rgb(232, 216, 216);
    border-radius: 5px;
    margin: 1px 0;
    font-size: 25px;
}
.OurBlog_tow div:first-child img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: flex;
}
.OurBlog_tow div:first-child a{
    display:flex;
    margin-left: 20px;
    text-decoration: none;
    border: 1px black;
}
.OurBlog_tow div:first-child p{
    color: #999;
    display: flex;
    text-align: left;
    margin-left: 20px;
}
.Readmore{
    color: yellowgreen;
}
.min{
    color: black;
}
.OurBlog_tow div:nth-child(2) div{
    border: solid 1px rgb(232, 216, 216);
    border-radius: 5px;
    margin: 1px 0;
    font-size: 25px;
}
.OurBlog_tow div:nth-child(2) img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: flex;
}
.OurBlog_tow div:nth-child(2) a{
    display:flex;
    margin-left: 20px;
    text-decoration: none;
    border: 1px black;
}
.OurBlog_tow div:nth-child(2) p{
    color: #999;
    display: flex;
    text-align: left;
    margin-left: 20px;
}
.OurBlog_tow div:nth-child(3){
    border: solid 1px rgb(232, 216, 216);
    border-radius: 5px;
    font-size: 25px;
    box-shadow: 7px 7px 10px 0 rgb(56 56 56 / 21%) ;
}
.OurBlog_tow div:nth-child(3) a{
    text-decoration: none;
    color: black;
    text-align: left;
    display: flex;
    margin-left: 20px;
}
.OurBlog_tow div:nth-child(3) p{
    color: yellowgreen;
    text-align: left;
    margin-left: 20px;
}
.OurBlog_tow div:nth-child(3) a:hover{
    color: yellowgreen;
    transition: 0.7s ;
}

/* contactUs */
#contactUs{
    text-align: center;
    width: 100%;
    height:900px;
    position: relative;
    margin: 150px 0;
}
#contactUs h1{
    font-size: 50px;
}
.contactUs-contten{
    width: 50%;
    display:flex;
    flex-direction: column;
    padding-left: 25%;
    margin:0;
}
.contactUs-contten h4{
    font-size: 30px;
    display: flex;
    margin-left: 10px;
    margin: 0;
}
.contactUs-contten p{
    margin: 0;
    width: 70%;
    color: #999;
    text-align: left;
}
.contactUs-contten div h3{
    position: relative;
    left: -50%;
    bottom: 20px;
    font-size: 40px;
    color: yellowgreen;
}
.contactUs-form{
    width: 40%;
    height: auto;
    padding: 2em;
    background-color: rgb(230, 249, 249);
    border-radius: 7px;
    box-shadow:7px 7px 10px 0 rgb(56 56 56 / 21%) ; 
    position: absolute;
    left: 50em;
    top: 190px;
    gap: 30px;
}
.text{
    width: 100%;
    height: 60px;
    margin: 20px 0;
    border: none;
}
.gmail{
    width: 100%;
    height: 60px;
    margin: 20px 0;
    border: none;
}
.contactUs-form textarea{
    width: 100%;
    height: 250px;
    border: none;
}
.contactUs-form button{
    width: 100%;
    height: 60px;
    margin: 20px 0;
    border: none;
    background-color: rgb(204, 204, 47);
    color: white;
    font-size: 25px;
    border-radius: 4px;
}
.contactUs-form button:hover{
    background-color: yellowgreen;
    transition: 0.8s;
}
.ti-html5{
    position: relative;
    font-size: 50px;
    top: 200px;
    right: 310px;
}
.ti-themify-favicon-alt{
    position: relative;
    font-size: 50px;
    top: 60px;
    right: 310px;
}
.ti-wheelchair{
    position: relative;
    font-size: 60px;
    top: 60px;
    right: 310px;
}

/* footer */

.footer{
    width: 100%;
    text-align: center;
    background-color: rgb(53, 50, 50);
    color: white;
    
    height: 600px;
    
}
.big-footer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 50px 50px;
    gap: 10px;
    
}
.big-footer div:first-child{
    display: flex;
    position: relative;
    left: 150px;
    flex-direction: column;
    text-align: left;
    width: 65%;
    top: 50px;
    
}
.big-footer div:first-child h4{
    font-size: 25px;
}
.big-footer div:first-child p{
    color: #999;
    margin: 0;
}
.big-footer div:nth-child(2){
    display: flex;
    position: relative;
    left: 80px;
    flex-direction: column;
    text-align: left;
    width: 65%;
    top: 50px;
}
.big-footer div:nth-child(2) h4{
    font-size: 25px;
}
.big-footer div:nth-child(2) p{
    color: #999;
    margin: 0;
}
.big-footer div:nth-child(3){
    display: flex;
    position: relative;
    left: 20px;
    flex-direction: column;
    text-align: left;
    width: 60%;
    top: 50px;
}
.big-footer div:nth-child(3) h4{
    font-size: 25px;
}
.big-footer div:nth-child(3) b{
    font-size: 25px;
}
.big-footer div:nth-child(3) p{
    color: #999;
    font-size: 24px;
}
.big-footer div:nth-child(4){
    display: flex;
    position: relative;
    left: -70px;
    flex-direction: column;
    text-align: left;
    width: 80%;
    top: 50px;
}
.big-footer div:nth-child(4) h4{
    font-size: 25px;
}
.big-footer div:nth-child(4) p{
    color: #999;
    margin: 0;
}
.big-footer div:nth-child(4) input{
    margin: 20px 0;
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 3px;
}
.big-footer div:nth-child(4) button{
    position: relative;
    width: 39%;
    height: 55px;
    background-color: rgb(191, 143, 66);
    bottom: 73px;
    left: 201px;
    color: white;
}
.big-footer div:nth-child(4) button:hover{
    background-color: yellowgreen;
    transition: 0.5s;
}
.big-footer div:nth-child(4) b{
    position: relative;
    margin: 0;
    bottom: 30px;
}
.big-footer div:nth-child(4) .ti-facebook{
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: white;
}
.big-footer div:nth-child(4) a{
    text-decoration: none;
}
.big-footer div:nth-child(4) .ti-twitter{
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: rgb(141, 141, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: white;
    position: relative;
    left: 55px;
    bottom: 50px;
    margin: 0;
}
.big-footer div:nth-child(4) .ti-dribbble{
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: rgb(238, 203, 193);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: white;
    position: relative;
    left: 110px;
    bottom: 100px;
}
.big-footer div:nth-child(4) .ti-google{
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: rgb(233, 112, 78);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: white;
    position: relative;
    left: 165px;
    bottom: 150px;
}